*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --mainColor: #59d5e0;
}

h1 {
  color: var(--mainColor);
  margin: 2rem 0;
  text-align: center;
}

#addTodo {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0rem 2rem;
}

#addTodo > div:nth-child(1) {
  flex: 2;
}

#addTodo > div > input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #c1bfbf;
  border-radius: 6px;
}

#addTodo > div > button {
  padding: 0.6rem 0.6rem;
  font-size: 1.2rem;
  background: var(--mainColor);
  border: none;
  border-radius: 6px;
  color: #fff;
  transition: background 350ms ease-in-out;
  cursor: pointer;
}

#addTodo > div > button:hover {
  background: #43cad6;
}

#todoCon {
  margin: 2rem;
}

.todo {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.todo > div:nth-child(1) {
  flex: 1;
}

.todo button {
  padding: 0.6rem 0.6rem;
  font-size: 1rem;
  background: var(--mainColor);
  border: none;
  border-radius: 6px;
  color: #fff;
  transition: background 350ms ease-in-out;
  cursor: pointer;
}

.btnPend {
  background-color: greenyellow !important;
}

.btnDel {
  background-color: tomato !important;
}

#addTodo > div > button:hover {
  background: #43cad6;
}

.todo > div > p {
  border-bottom: 2px solid var(--mainColor);
  padding: 0.4rem 0rem;
}
